schema/merchant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.receipts.se/schema"
           xmlns:tns="https://www.receipts.se/schema"
           elementFormDefault="qualified">

    <xs:include schemaLocation="./common.xsd"/>

    <xs:complexType name="BrandingType">
        <xs:sequence>
            <xs:element name="MerchantLogo" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="Src" type="tns:HttpUrlType" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="tns:MessageArea" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ChannelType">
        <xs:simpleContent>
            <xs:extension base="tns:LabelType">
                <xs:attribute name="Uri" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:anyURI">
                            <xs:maxLength value="2048"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="StreetName" type="tns:LabelType"/>
        <xs:attribute name="StreetNumber" type="tns:LabelType"/>
        <xs:attribute name="PostalCode" type="tns:LabelType"/>
        <xs:attribute name="City" type="tns:LabelType"/>
    </xs:complexType>

    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="DisplayName" type="tns:LabelType" minOccurs="0"/>
            <xs:element name="Address" type="tns:AddressType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactType">
        <xs:all>
            <xs:element name="Phone" type="tns:ChannelType" minOccurs="0"/>
            <xs:element name="Fax" type="tns:ChannelType" minOccurs="0"/>
            <xs:element name="Email" type="tns:ChannelType" minOccurs="0"/>
            <xs:element name="Web" type="tns:ChannelType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

</xs:schema>