schemas/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.receipts.se/schema"
           xmlns:tns="https://www.receipts.se/schema"
           elementFormDefault="qualified">

    <xs:simpleType name="LabelType">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NumericType">
        <xs:restriction base="tns:LabelType">
            <xs:pattern value="[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HexType">
        <xs:restriction base="tns:LabelType">
            <xs:pattern value="[0-9a-fA-F]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-99999999.99"/>
            <xs:maxInclusive value="99999999.99"/>
            <xs:pattern value="\d+\.\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositiveAmountType">
        <xs:restriction base="tns:AmountType">
            <xs:minInclusive value="0.00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IntegerType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-99999999"/>
            <xs:maxInclusive value="99999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositiveIntegerType">
        <xs:restriction base="tns:IntegerType">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WeightType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.000"/>
            <xs:maxInclusive value="99999999.999"/>
            <xs:pattern value="\d+\.\d{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OrganizationNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}-[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HttpUrlType">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="MessageArea">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="10">
                    <xs:element name="TextLine">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="tns:LabelType">
                                    <xs:attribute name="Variant" default="Body">
                                        <xs:simpleType>
                                            <xs:restriction base="tns:LabelType">
                                                <xs:enumeration value="Body"/>
                                                <xs:enumeration value="Heading"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Style" default="Normal">
                                        <xs:simpleType>
                                            <xs:restriction base="tns:LabelType">
                                                <xs:enumeration value="Normal"/>
                                                <xs:enumeration value="Bold"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="LineBreak">
                        <xs:complexType/>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>